:root {
    --color-primary: #6BA77F;
    --color-black: #000000;
    --color-grey-100: #151515;
    --color-grey-200: #1E1E1E;
    --color-grey-400: #444444;
    --color-lightgrey: #D4D6D7;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-lightgrey);
    background-color: var(--color-grey-100);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
